.streams_holder {
    display: inline-block;
    width: 180px;
    border: 1px solid;
    vertical-align: top;
    text-align: left;
    margin: 0 10px 40px 10px; 
} 

.text_limit {
    width: 180px;                 /* fixed width */
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
}